@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 137 55% 37%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 120 3% 6%;

    --foreground: 0 0% 98%;

    --card: 150 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 150 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 137 55% 37%;
    --primary-foreground: 0 0% 98%;

    --secondary: 135 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 140 5% 22%;
    --muted-foreground: 135 5% 49%;

    --accent: 136 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 140 5% 12%;
    --input: 135 4% 18%;
    --ring: 137 55% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


::selection {
  background: rgba(45, 170, 219, 0.3);
}



h2,
h3,
h4,
h4,h6{
/* Suggested code may be subject to a license. Learn more: ~LicenseLog:137525301. */
  @apply !text-primary relative

}



h1:hover>a,
h2:hover>a,
h3:hover>a{
  opacity:1;
}

h1>a svg,
h2>a svg,
h3>a svg{
  @apply size-4 lg:size-5 text-primary
}
h1>a,
h2>a,
h3>a{
  color: inherit;
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  transform: translateX(-150%);
  transition: opacity 250ms;
  opacity: 0;
  scroll-margin-top: 128px;
}